* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    

}

html,
body {
    height: 100%;
    width: 100%;
    background-color:#D4FF3F;

    /* cursor: none; Hide the default cursor */

}



/* editing start here */
main{
    /* height: 100%; */
    width: 100%;
    background-color: #D4FF3F;
}

nav{
    /* margin-top: 50px; */
    /* height: 50px; */
    width: 100%;
    /* background-color: white; */

    padding: 30px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .part2{
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

nav h2{

        font-size: 25px;
            font-weight: 400;
}

nav a{
    font: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
}
/* part2 */

section{
    /* background-color: aquamarine; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

section .title1{
    /* background-color: red; */

    /* padding: ; */
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    justify-content: space-between;
}

.title1 h1{
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
}
a:hover{
    /* background-color: black; */
    color:rgb(28, 28, 28);

}

.title1 .video{
    height: 100px;
    width: 500px;
    /* background-color: red; */
    border-radius: 50px;
    border: 2px double white;
    margin-top: 50px;
    /* background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzhndmxnMHI1ZWQxOGJ6aGtoYnByNzBxZHdhMXk2ZHF6Z2J1ODdsMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26FPKhUtNG3TW74f6/giphy.webp); */
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNnlpMzIzZHRoODNyaGY3Z3l0eWpyMzk4dDBqY2phbTN6NW41d2ZmYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/C8KAPsRKhmIAYXymrd/giphy.webp);
background-size:cover;
background-position: center;
padding: 8px;
}

.video .play{
    height: 100%;
    width: 79px;
    border-radius: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i{
    color: #D4FF3F;
    font-size: 50px;
}

section .title2 {
    /* background-color: red; */

    /* padding: ; */
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    justify-content: space-between;
}

.title2 h1 {
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
}

.title2 p {
    height: 100px;
    width: 700px;
    font-size: 25px;
    font-weight: 300;
    /* background-color: grey; */
    /* border-radius: 50px; */
    margin-top: 50px;
}

/* section2 */

#section2{
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px 100px;
}
button{
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 30px;
}
button:hover{
    background-color: black;
    color: #D4FF3F;

}

/* section3 */

.section3{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0;
    /* background-color: red; */
}
.main-image{
    margin: 0;
    height: 1000px;
    width:80%;
    margin-left: 10%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1516097392878-c2b79448e1ff?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url(https://images.unsplash.com/photo-1727287166815-2500f6261f50?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
position: relative;
}
#arrow{
    height: 200px;
        width: 200px;
        border-radius: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 10px solid rgb(63, 62, 62);
        
        position: absolute;
        top:-5%;
        right:8%;
        z-index: 1;
}

#arrow i{
    color: #D4FF3F;
    font-size: 150px;
}

/* footer */
footer{
    background-color: black;
    color:#D4FF3F;
    height: 120px;
    width: 100%;

    font-size: 40px;
    padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
}
